In [13]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./dataset/retail_price.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 676 entries, 0 to 675
Data columns (total 30 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  676 non-null    object
 1   product_category_name       676 non-null    object
 2   month_year                  676 non-null    object
 3   qty                         676 non-null    int64
 4   total_price                 676 non-null    float64
 5   freight_price               676 non-null    float64
 6   unit_price                  676 non-null    float64
 7   product_name_lenght         676 non-null    int64
 8   product_description_lenght  676 non-null    int64
 9   product_photos_qty          676 non-null    int64
 10  product_weight_g            676 non-null    int64
 11  product_score               676 non-null    float64
 12  customers                   676 non-null    int64
 13  weekday                     676 non-null    int64
 14  weekend                     676 non-null    int64
 15  holiday                     676 non-null    int64
 16  month                       676 non-null    int64
 17  year                        676 non-null    int64
 18  s                           676 non-null    float64
 19  volume                      676 non-null    int64
 20  comp_1                      676 non-null    float64
 21  ps1                         676 non-null    float64
 22  fp1                         676 non-null    float64
 23  comp_2                      676 non-null    float64
 24  ps2                         676 non-null    float64
 25  fp2                         676 non-null    float64
 26  comp_3                      676 non-null    float64
 27  ps3                         676 non-null    float64
 28  fp3                         676 non-null    float64
 29  lag_price                   676 non-null    float64
dtypes: float64(15), int64(12), object(3)
memory usage: 158.6+ KB

In [5]:
df['comp1_diff'] = df['unit_price'] - df['comp_1']
df['comp2_diff'] = df['unit_price'] - df['comp_2']
df['comp3_diff'] = df['unit_price'] - df['comp_3']

df['fp1_diff'] = df['freight_price'] - df['fp1']
df['fp2_diff'] = df['freight_price'] - df['fp2']
df['fp3_diff'] = df['freight_price'] - df['fp3']

In [6]:
cols_to_mean = ['product_id', 'month_year', 'comp1_diff', 'comp2_diff', 'comp3_diff',
                'fp1_diff', 'fp2_diff', 'fp3_diff', 'product_score', 'unit_price']
cols_to_sum = ['product_id', 'month_year', 'total_price', 'freight_price', 'customers']
mean_df = df[cols_to_mean]
sum_df = df[cols_to_sum]

In [7]:
products_mean = mean_df.groupby(by='product_id').mean()
products_sum = sum_df.groupby(by='product_id').sum()

In [8]:
products = pd.concat([products_sum, products_mean],
                     axis=1, join='inner').reset_index()
products.head()

,product_id,total_price,freight_price,customers,comp1_diff,comp2_diff,comp3_diff,fp1_diff,fp2_diff,fp3_diff,product_score,unit_price
0,bed1,5831.77,240.410762,915,-43.976523,-47.634907,0.000000,-2.629416,-1.484667,0.000000,4.0,42.211989
1,bed2,42938.66,324.204152,968,0.000000,-28.547817,37.032861,0.000000,-0.989857,2.214245,3.9,86.774536
2,bed3,10304.96,172.316049,530,7.599892,0.000000,51.588471,-2.996105,0.000000,0.378738,3.3,92.101364
3,bed4,6011.77,151.576305,515,-38.826174,0.000000,6.085263,-3.644118,0.000000,-0.023987,4.2,46.725444
4,bed5,29997.36,96.015504,385,108.481703,0.000000,152.431703,3.761456,0.000000,4.750934,4.4,198.381703

In [9]:
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     52 non-null     object
 1   total_price    52 non-null     float64
 2   freight_price  52 non-null     float64
 3   customers      52 non-null     int64
 4   comp1_diff     52 non-null     float64
 5   comp2_diff     52 non-null     float64
 6   comp3_diff     52 non-null     float64
 7   fp1_diff       52 non-null     float64
 8   fp2_diff       52 non-null     float64
 9   fp3_diff       52 non-null     float64
 10  product_score  52 non-null     float64
 11  unit_price     52 non-null     float64
dtypes: float64(10), int64(1), object(1)
memory usage: 5.0+ KB

In [10]:
products.describe().T

,count,mean,std,min,25%,50%,75%,max
total_price,52.0,18495.213462,13835.432740,2384.000000,9160.215000,14680.585000,22956.172500,63885.000000
freight_price,52.0,268.869509,154.777349,83.146419,176.618953,228.625875,284.091531,731.001186
customers,52.0,1053.365385,537.660912,182.000000,595.250000,994.500000,1589.250000,1839.000000
comp1_diff,52.0,25.694650,67.764948,-46.368308,-0.200079,0.120879,44.036786,295.392948
comp2_diff,52.0,11.373008,59.018322,-59.325427,-19.909887,0.000000,31.639515,241.110879
comp3_diff,52.0,21.978372,66.786669,-98.710989,-0.039309,0.022877,32.167527,290.250509
fp1_diff,52.0,1.386296,9.965577,-27.774975,-0.786042,1.337385,3.866475,24.637490
fp2_diff,52.0,1.745994,6.877787,-10.198447,-1.485233,0.000000,1.441065,23.306815
fp3_diff,52.0,2.496575,6.846434,-6.055285,-1.040041,0.000000,3.158166,21.236853
product_score,52.0,4.080769,0.251301,3.300000,3.900000,4.100000,4.225000,4.500000
unit_price,52.0,106.470073,72.902890,22.623745,54.888369,92.291756,134.791854,350.744318

In [29]:
max_values = products.drop(['product_id', 'unit_price'], axis=1).max(axis=0)
min_values = products.drop(['product_id', 'unit_price'], axis=1).min(axis=0)

In [30]:
max_search = []
min_search = []

for i in range(len(max_values)):
   max_search.append(max_values[i])
   min_search.append(min_values[i])
   

max_search = np.array(max_search).reshape(1, -1)
min_search = np.array(min_search).reshape(1, -1)

In [31]:
X, y = products.drop(['product_id', 'unit_price'], axis=1), products['unit_price']

In [32]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import SGDRegressor


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

max_search = scaler.transform(max_search)
min_search = scaler.transform(min_search)


regressor = SGDRegressor(max_iter=1000, tol=1e-3)


regressor.fit(X_train, y_train)

/Users/yihangyuan/Documents/PYTHON/circuits/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(
/Users/yihangyuan/Documents/PYTHON/circuits/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(
/Users/yihangyuan/Documents/PYTHON/circuits/lib/python3.9/site-packages/sklearn/linear_model/_stochastic_gradient.py:1503: ConvergenceWarning: Maximum number of iteration reached before convergence. Consider increasing max_iter to improve the fit.
  warnings.warn(

SGDRegressor()

In [33]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from math import sqrt


y_pred = regressor.predict(X_test)


mse = mean_squared_error(y_test, y_pred)
print(f"Mean squared error: {mse}")


rmse = sqrt(mse)
print(f"Root mean squared error: {rmse}")


mae = mean_absolute_error(y_test, y_pred)
print(f"Mean absolute error: {mae}")


r2 = r2_score(y_test, y_pred)
print(f"R-squared: {r2}")

Mean squared error: 1226.7827122333492
Root mean squared error: 35.025458058865546
Mean absolute error: 26.65173606169219
R-squared: 0.7675073829443158

In [42]:
import numpy as np
from scipy.optimize import minimize


bounds = [(min_search[0][i] , max_search[0][i]) for i in range(len(max_search[0]))]  # Example bounds for x


def neg_prediction(x):
    x = x.reshape(1, -1) 
    return -regressor.predict(x)


x0 = np.array([(i[1]-i[0])/2 for i in bounds])


result = minimize(neg_prediction, x0, bounds=bounds)


print(result.x)


print(-result.fun)

[ 3.11741813  2.66153798 -1.76364885  3.82880038  3.76215007 -1.77195714
 -2.93102277 -1.68742467  2.43003241 -3.01371036]
674.9184560973648